@import "../movieIssue/movieIssue.css";
@import "../myExports/myExports.css";

.container {
    padding-bottom: 100rpx;
    box-sizing:border-box;
}

.headBox {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
    width: 710rpx;
}

.allCnBox {
    position: relative;
    z-index: 3;
    top: 250rpx;
    background-color: white;
    border-radius: 30rpx;
    padding-top: 0.1rpx;
    width: 710rpx;
    margin: 0 auto;
    border: 2rpx solid #f2f2f2;
    border-top: none;
}

.allCnBox .allTil {
    text-align: center;
    margin-top: 28rpx;
    font-size: 34rpx;
    font-weight: bold;
    color: #333;
}

.contentBox {
    margin-top: 30rpx;
    padding-bottom: 20rpx;

}

.selTimeBox {
    margin-top: 50rpx;
}

.contentBox .c_list {
    height: 140rpx;
    line-height: 140rpx;
}

.c_list  .c_sub_l {
    line-height: 60rpx !important;
}

.c_list  .c_sub_l .num {
    margin-left: 40rpx;
    color: #46a3ff;
    font-size: 26rpx;
}

.c_list .c_sub_r {
    line-height: 60rpx;
    text-align: right;
    letter-spacing: 2rpx;
}

.c_list .c_sub_r .r_time text {
    margin-left: 20rpx;
    color: #333;
}

.earningRule {
    position: fixed;
    right: 0;
    top: 373rpx;
    width: 140rpx;
    height: 50rpx;
    line-height: 50rpx;
    z-index: 5;
    border-top-left-radius: 45rpx;
    border-bottom-left-radius: 45rpx;
    background-color: #46a3ff;
    font-size: 22rpx;
    color: #fff;
    text-align: center;
}

.earningRule .helpIcon {
    width: 19rpx;
    height: 19rpx;
    margin-left: 5rpx;
    margin-top: -5rpx;
}

.helpIcon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAMAAACf4xmcAAAAkFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+WABnwAAAAL3RSTlMA9fEE/HQK2dI0fG/tqDAoEOnVsVFGLPnf3M6teWpLyL+3mJFbV0I6FOJlYCWCHCflgqYAAAF2SURBVDjLhZTploIwDIUvLVQU2RRRQXHfnen7v93oDCekpZ75/iWkSe9NDzAYBvVE+L4I6yDBB7LRUjMGQYY+ciW0hQgkLMqJdhCmMDh52olXgLHWHX5+81j0YL26bDxTANJRThnql8xJXUKypzQ3bTUOqOr6is7rqJGArEnHn94RjUyA9PfMogSuZFAAvEK68BRQrcM3BRzIP2U0WwNH3XICCs3bLSiaAXvdMgKG3d6AiyaGwI46G18SNlNvtlvBjtw1mzrVLvYAtpqIsXRV7STwYHEI1843CpjNWWIM1/PJgLNxfO4oy7+pqiujmNs3tLJjDHoXA9TCvkbfkBWtjBuyslMNrawjYpsj//sTSlo9ER8OtuUTekhO+EPKxH9VYwXAFlGnl4Et4I2c8Jx471NzKtn+GDzDcJjqxRMthc/SX8h2LPQbEHdeJ3jgH8EoPO1ENDAoQ1dV9YSFDMY9vyKJPiownAkjhQ8kUVzlnpdXcZSC8wOdI7KEv/0HCQAAAABJRU5ErkJggg==");
    background-size: 100% 100%;
}

/* 没数据 */

.noneData {
    margin-top: 150rpx;
    margin-bottom: 150rpx;
}

.noneData .img {
    width: 512rpx;
    height: 256rpx;
}

.noneData .noneDataTxt {
    color: #acacac;
}

.listTop {
    height: 60rpx;
    line-height: 60rpx;
    color: rgba(51, 51, 51, 1);
    font-size: 30rpx;
}

.dayTime {
    margin-left: 10rpx;
}

.listBottom {
    height: 60rpx;
    line-height: 60rpx;
    color: rgba(51, 51, 51, 1);
    font-size: 26rpx;
}

.watchNum {
    margin-left: 20rpx;
    font-size: 26rpx;
    color: rgba(70, 163, 255, 1);
}

.ticketMoney {
    color: #c00;
}

.addMoney {
    color: rgba(51, 51, 51, 1);
}

.placeholder {
    width: 100%;
    height: 2rpx;
    background-color: rgba(224, 224, 224, 1);
    margin: 15rpx 0;
}

/* 分页 */

.placeholder2 {
    height: 100rpx;
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successIcon {
    vertical-align: middle;
    width: 52rpx;
    height: 52rpx;
}

.loadingText {
    padding: 0 10rpx;
    color: #acacac;
}
