@import "../movieIssue/movieIssue.css";

.container {
    padding: 0.1rpx 0;
    min-height: 100%;
    background-color: white;
}

.headBox {
    width: 690rpx;
    height: 298rpx;
    border-radius: 20rpx;
    background-color: #46a3ff;
    margin: 0 auto;
    margin-top: 15rpx;
    padding-top: 0.1rpx;
}

.headBox .oneBox {
    padding: 0 40rpx;
    margin-top: 30rpx;
    height: 40rpx;
    line-height: 40rpx;
}

.oneBox .l {
    float: left;
    font-size: 30rpx;
    color: #fff;
}

.oneBox .r {
    float: right;
    font-size: 30rpx;
    color: white;
}

.oneBox .r .arrow_w {
    width: 16rpx;
    height: 26rpx;
    margin-top: -5rpx;
    margin-left: 14rpx;
}

.twoBox {
    margin-top: 20rpx;
    color: white;
    font-size: 88rpx;
    text-align: center;
    height: 88rpx;
}

.threeBox {
    padding: 0 40rpx;
    color: white;
    font-size: 30rpx;
    margin-top: 42rpx;
}

.selTimeBox {
    margin-top: 30rpx;
    padding: 0 42rpx;
}

.selTimeBox .l_box {
    float: left;
    position: relative;
}

.selTimeBox .l_box .one {
    padding: 0 23rpx;
    height: 50rpx;
    line-height: 50rpx;
    border: 2rpx solid #46a3ff;
    text-align: center;
    font-size: 22rpx;
    color: #46a3ff;
    border-radius: 10rpx;
}

.selTimeBox .l_box .one .downIcon {
    margin-left: 4rpx;
    width: 13rpx;
    height: 9rpx;
    margin-top: -5rpx;
}

.selTimeBox .l_box .two {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border: 2rpx solid #46a3ff;
    border-radius: 10rpx;
    background-color: white;
}

.selTimeBox .l_box .two .one {
    border: none;
}

.selTimeBox .l_box .two .other {
    font-size: 22rpx;
    color: #333;
    text-align: center;
    line-height: 50rpx;
}

.selTimeBox .r_box {
    font-size: 0;
    float: left;
    color: #46a3ff;
    height: 50rpx;
    border-radius: 10rpx;
    text-align: center;
    line-height: 50rpx;
    border: 2rpx solid #46a3ff;
    margin-left: 18rpx;
    display: flex;
    padding: 0 20rpx;
}

.selTimeBox .r_box view {
    font-size: 22rpx;
    letter-spacing: 2rpx;
}

.contentBox {
    margin-top: 20rpx;
    padding: 0 40rpx;
    padding-bottom: 24rpx;
    clear: both;
}

.contentBox .c_list {
    display: flex;
    justify-content: space-between;
    height: 110rpx;
    line-height: 110rpx;
    border-bottom: 2rpx solid #e0e0e0;
}

.contentBox .c_list .c_l {
    float: left;
    font-size: 30rpx;
    color: #333;
    line-height: 150rpx;
}

.contentBox .c_list .c_l .time {
    font-size: 26rpx;
}

.contentBox .c_list .c_sub_l {
    line-height: 40rpx;
}

.contentBox .c_list .c_r {
    float: right;
    font-size: 30rpx;
    color: #000;
}

.contentBox .c_list .c_r text {
    color: #c00;
    letter-spacing: 2rpx;
}

/* 选择时间框 */

.dataPicker .p_head {
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    border-bottom: 2rpx solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    border-top-left-radius: 15rpx;
    border-top-right-radius: 15rpx;
}

.dataPicker {
    height: 450rpx;
}

.dataPicker .p_head .l {
    color: #333;
}

.dataPicker .p_head .r {
    color: #46a3ff;
}

.downIcon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAoklEQVQYlY2NMQrCMBhGX6rgYCclElz/XfAAXsET9ALxEq5ewkkvoLfQqbgHnCQQioPiWpcKQRrtN77H41Ni9AFY0n1HJUaPgQsw7RDcgFnmfKiAAqj/BDVQOB+qHsD9+bqO8uEAWPyINs6HLUAWwTVwTgSnxgOgYiNGC1ACeYQfwNz54D4gfqIR9uvFxkFyYvRejK7F6F2b7yc6C0yAVZt8A34mKvz5qC15AAAAAElFTkSuQmCC');
    background-size: 100% 100%;
}

/* 没数据 */

.noneData {
    margin-top: 150rpx;
}

.noneData .img {
    width: 512rpx;
    height: 256rpx;
}

.noneData .noneDataTxt {
    color: #acacac;
}

/* 分页 */

.placeholder2 {
    height: 100rpx;
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successIcon {
    vertical-align: middle;
    width: 52rpx;
    height: 52rpx;
}

.loadingText {
    padding: 0 10rpx;
    color: #acacac;
}
