
  .container{
    padding:0.1rpx 0;
    min-height: 99.5%;
    background-color: white;
  }
  
  .seaCnBox{
    padding: 0 30rpx;
  }

  .movieList{
    margin-top: 30rpx;
    margin-bottom: 10rpx;
  }
  .movieList .imgView{
    float: left;
    width: 234rpx;
    height: 312rpx;
    border-radius: 10rpx;
    overflow: hidden;
    position: relative;
  }
  .imgView image{
    width: 100%;
    height: 100%;
  }
  .imgView .atten{
    position: absolute;
    padding-left: 10rpx;
    bottom: 8rpx;
    left: 0;
    font-size: 24rpx;
    color: #FF6900;
  }
  .movieMsg{
    float: left;
    margin-left: 8rpx;
    width: 440rpx;
    height: 312rpx;
    position: relative;
  }
  .movieMsg .m_til{
    font-size: 30rpx;
    color: #000000;
    height: 40rpx;
    line-height: 40rpx;
  }
  .movieMsg .stratView{
    margin-top: 12rpx;
    /* height: 20rpx; */
    line-height: 0rpx;
  }
  .movieMsg .stratView .l{
    font-size: 0;
  }
  .movieMsg .stratView .l .s_list{
    width: 22rpx;
    height: 20rpx;
  }
  .movieMsg .stratView .r{
    font-size: 26rpx;
    color: #FF6900;
    margin-left: 10rpx;
  }
  .movieMsg .stratView .l .s_list{
    margin: 0 2rpx;
  }
  .movieMsg .type{
    color: #666666;
    font-size: 26rpx;
    height: 30rpx;
    line-height: 30rpx;
    margin-top: 20rpx;
  }
  .movieMsg .price{
    margin-top: 28rpx;
    font-size: 30rpx;
    color: #CC0000;
  }
  .movieMsg .issBtn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 118rpx;
    height:40rpx;
    line-height: 40rpx;
    border-radius: 10rpx;
    text-align: center;
    border-radius: 10rpx;
    color: white;
    font-size: 24rpx;
    background-color: #46A3FF;
  }

    /* 分页 */
  .placeholder {
      height: 100rpx;
      background-color: #f4f4f4;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .successIcon{
      vertical-align: middle;
      width: 52rpx;
      height: 52rpx;
  }
  .loadingText {
      padding: 0 10rpx;
      color:#acacac;
  }